{{>nav}}

<main class="container">
    <form role="search">
        <input name="search" type="search" placeholder="Procure Famílias" />
        <input type="submit" value="Procurar" />
    </form>
</main>

{{>footer}}