<header class="container-fluid">
    <nav>
        <ul>
            <li><a href="logged.html" class="contrast"><img src="/img/aquasys_logo1.png" alt="Brasão VCA" width="64em"></a></li>
        </ul>
        <ul>
            <li>
                <details class="dropdown">
                    <summary>Famílias</summary>
                    <ul>
                        <li><a href="signFamily.html">Cadastrar</a></li>
                        <li><a href="searchFamily.html">Procurar</a></li>
                    </ul>
                </details>
            </li>
            <li>
                <details class="dropdown">
                    <summary>Caminhoneiros</summary>
                    <ul>
                        <li><a href="signDrivers.html">Cadastrar</a></li>
                        <li><a href="searchDrivers.html">Procurar</a></li>
                    </ul>
                </details>
            </li>
            <li><a class="contrast"><iconify-icon icon="mdi:theme-light-dark" width="28px"></iconify-icon></a></li>
        </ul>
    </nav>
</header>